<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLXTv8wpjvNA2i3L5jSD1fpwy9mJQD_WE</string>
	<key>GCM_SENDER_ID</key>
	<string>213510187132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.creche.app</string>
	<key>PROJECT_ID</key>
	<string>creche-soinzen</string>
	<key>STORAGE_BUCKET</key>
	<string>creche-soinzen.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213510187132:ios:19c48bd447ca7a673ac1f9</string>
</dict>
</plist>